#main_div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32rem;
    height: 40rem;
    translate: -50% -50%;
    padding: 2rem;
    padding-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: 0.4rem 3rem 0.4rem 3rem 1fr 4rem;
    background: var(--glass);
    border-radius: 1rem;
    backdrop-filter: var(--blur-light);
}

#title {
    position: absolute;
    top: -2rem;
    width: 100%;
    height: 50%;
    font-size: 16rem;
    text-align: center;
    z-index: -1;
    opacity: 0.4;
    font-weight: 900;
}

input {
    font-size: 1.2rem;
    border: 0;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}

#create_room {
    font-size: 1.2rem;
    margin: 0 11rem;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--glass);
}

.room {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 4fr 3fr;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.4rem;
    background: rgba(0, 0, 0, 0.5);
}
.room span {
    font-size: 0.9rem;
}
.room span:first-child {
    font-size: 1.2rem;
}
.room button {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 2;
    margin: auto;
}

#create_room_modal {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    user-select: none;
    border: 0;
}
#create_room_modal::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: var(--blur);
}
#create_room_modal div {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.8fr;
}
#create_room_modal span {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.8rem;
}
#create_room_modal input {
    grid-column: 1 / 3;
}
#create_room_modal button {
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

#join_room_modal {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    user-select: none;
    border: 0;
}
#join_room_modal::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: var(--blur);
}
#join_room_modal div {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.8fr;
}
#join_room_modal span {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.8rem;
}
#join_room_modal input {
    grid-column: 1 / 3;
}
#join_room_modal button {
    font-size: 1.2rem;
    margin: 0.4rem 0;
}
